.input-search {
    width: 100%;
    padding: 0.5rem 0.75rem;
    background: rgb(21, 27, 35);
    border: 1px solid rgb(21, 27, 35);
    border-radius: 6px;
    font-size: 0.875rem;
    outline: none;
    transition: all 0.2s;

    &::placeholder {
        color: #9ca3af;
        opacity: 1;
        font-size: 14px;
    }

    &:focus {
        border-color: #3b82f6;
        box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
    }
}